@font-face {
  font-family: ReithSand;
  src: url(./fonts/reith/BBCReithSerif_W_Rg.woff) format ("woff"),
    url(./fonts/reith/BBCReithSerif_W_Rg.woff2) format ("woff2");
  font-weight: 400;
}

@font-face {
  font-family: ReithSand-Bold;
  src: url(./fonts/reith/BBCReithSerif_W_ExBd.woff) format ("woff"),
    url(./fonts/reith/BBCReithSerif_W_ExBd.woff2) format ("woff2");
  font-weight: 700;
}

body {
  font-family: ReithSans, ReithSans-Bold, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  background-image: url("https://source.unsplash.com/1600x900/?weather,snow");
  background-position: center;
  background-size: cover;
}

.daily-forecast-card {
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  width: 100%;
  max-width: 420px;
  margin: 20px;
}
