.forecast-card {
  display: flex;
  justify-content: center;
}

.daily-forecast-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
  min-width: 500 px;
  flex-direction: column;
  padding: 20px;
  border-radius: 3px;
  border-top: 8px;
  border-color: green;
  margin: 20px;
}

.one-card {
  flex-direction: column;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 5px;
}

.card-line {
  width: 1px;
  background-color: #000000;
  height: 90px;
  margin: 3px 5px;
}

.max-min-temp {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.card-description {
  margin: 3px 5px;
}
/*.today-date {}*/
.temp {
  margin: 0;
  height: 80px;
}

/*.city {}*/

.icon {
  margin: 3px 5px;
  height: 90px;
  width: 90px;
}

/*.max-temp {}

  //.min-temp {}*/

.description {
  margin: 0;
}
